<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Fecha de Reserva</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservas;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{reserva.nombre}}</td>
      <td>{{reserva.tipoProducto}}</td>
      <td>{{reserva.precio}}</td>
      <td>{{reserva.fechaReserva}}</td>
      <td>
          <button type="button" class="btn btn-danger"  (click)='deleteReserva(reserva.id)'>Eliminar Reserva</button>
      </td>
    </tr>
  </tbody>
</table>