<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="linkCrearProducto" class="nav-item nav-link" routerLink="/producto/crear" routerLinkActive="active">Crear producto</a>
      <a id="linkListarProducto" class="nav-item nav-link" routerLink="/producto/listar" routerLinkActive="active">listar producto</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
