<div align = center>
  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/producto.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Modulo producto</h5>
            <p class="card-text">Modulo de gestión de productos, permite crear, eliminar, actualizar, listar y reservar un producto.</p>
            <a [routerLink]="'/producto/crear'" class="btn btn-primary">Producto</a>
          </div>
        </div>
      </div>
  
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/reserva.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Modulo reserva</h5>
            <p class="card-text">Modulo de gestión de reservas, permite visualizar y eliminar las reservas hechas a un producto.</p>
            <a [routerLink]="'/reserva/listar'" class="btn btn-primary">Reserva</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
